@import "tailwindcss";

/* Remove all custom color variables except for gray, black, and white */
@theme {
  --breakpoint-3xl: 120rem;

  --color-dustyrose-300: oklch(0.8234 0.0752 344.63);
  --color-dustyrose-400: oklch(0.7526 0.0752 344.63);
  --color-olive-300: oklch(0.8116 0.1085 121.31);
  --color-olive-400: oklch(0.7068 0.1085 121.31);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}